<!-- header for all pages -->
<ion-header>
  <ion-toolbar>
    <ion-title style="color: black" class="font">Calories</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <label class="help" routerLink="/contact">❔</label>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 
  <h3 class="font">Calculate your daily calories:</h3>
 
  <!-- allows for user input and use ngModel -->
  <div class="userInput">

    <!-- radio button for male/female -->
    <ion-radio-group [(ngModel)]="gender">
      <ion-item>
        <ion-label>Male</ion-label>
        <ion-radio slot="end" value="1"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Female</ion-label>
        <ion-radio slot="end" value="2"></ion-radio>
      </ion-item>
    </ion-radio-group>
    <!--input and send using ngModel-->
    <ion-input placeholder="Age" type="number" [(ngModel)]="age"></ion-input> 
    <ion-input placeholder="Height (Inches)" type="number" [(ngModel)]="height"></ion-input>
    <ion-input placeholder="Weight (pounds)" type="number" [(ngModel)]="weight"></ion-input>
    <label class="font">Excersise level (very light - very heavy)</label>
    <ion-input placeholder="Input (1-5)" type="number" [(ngModel)]="activity"></ion-input>
    <ion-button (click)="calculateCals()" expand="block" shape="round">Calculate</ion-button>
    <p class="font">You can now head over to our <label routerLink="/mac-calculate"><u>Macronutrient calculator</u></label> to get your exact macros!</p>
  </div>

</ion-content> 
