<ion-header>
  <ion-toolbar>
    <ion-title class="font">Calories</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <label class="help" routerLink="/contact">❔</label>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <h3 class="font">Calculate your daily calories:</h3>

  <form class="userInput">
    <ion-item>
      <ion-radio class="gender" value="Male"></ion-radio>
      <label class="font">Male</label>
      <ion-radio class="gender" value="Female"></ion-radio>
      <label class="font">Female</label>
    </ion-item>

    <app-input placeholder="Age"></app-input>
    <app-input placeholder="Height (cm)"></app-input>
    <app-input placeholder="Weight (kg)"></app-input>
    <label class="font">Excersise level (very light - very heavy)</label>
    <app-input placeholder="Input (1-5)"></app-input>

    <ion-button expand="block" shape="round">Calculate</ion-button>

  </form>

</ion-content> 
