//font and image css
.font {
  font-family: 'Oswald';
  text-align: center;
  }

.help{
  padding: 12px;
}

.img1 {
  display: block;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  width: 150px;
  height: 125px;
}