<!-- header for each page -->
<ion-header>
  <ion-toolbar>
    <ion-title class="font">Contact us!</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <label class="help" routerLink="/contact">❔</label>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!-- basic contact page -->
<ion-content>
  <br>
  <h3 class="font">Need help? Contact us using the details below and we will be sure to get back to you!</h3>
  <br>
  <br>
  <br>
  <h4 class="font">Email: MyFitnessApp@gmail.com</h4>
  <h4 class="font">Phone: 091 123 4567</h4>
  <img src="./assets/Logo.jpg" alt="fruit!" height="150px" class="img1">
</ion-content>
