<ion-header>
  <ion-toolbar>
    <ion-title class="font">Contact us!</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <label class="help" routerLink="/contact">❔</label>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h3 class="font">Need help? Contact us using the details below and we will be sure to get back to you!</h3>

  <br>
  <br>
  <br>
  <p class="font">Email: MyFitnessApp@gmail.com</p>
  <p class="font">Phone: 091 123 4567</p>
</ion-content>
