ion-content{
    // background Color - blue purple gradient
   ---transform: : translate(-50%, 50%);
   --background:  hsla(205, 46%, 30%, 1);
   --background: linear-gradient(90deg, hsla(205, 46%, 30%, 1) 0%, hsla(260, 29%, 36%, 1) 100%);
   }

ion-item{
    // background Color - blue purple gradient
   ---transform: : translate(-50%, 50%);
   --background:  hsla(205, 46%, 30%, 1);
   --background: linear-gradient(90deg, hsla(205, 46%, 30%, 1) 0%, hsla(260, 29%, 36%, 1) 100%);
   }

ion-icon{
    color: white;
   }

.menuFont { //font for menu
    font-family: 'Oswald';
    color: white;
    }
  
  