<ion-header>
  <ion-toolbar>
    <ion-title class="font">Sign up</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <label class="help" routerLink="/contact">❔</label>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <h3 class="font">Create account:</h3>
  <form class="userInput">
    <app-input placeholder="Name"></app-input>
    <app-input placeholder="Email"></app-input>
    <app-input placeholder="Username"></app-input>
    <app-input type="Password" placeholder="Password"></app-input>
    <app-input type="Password" placeholder="Confirm Password"></app-input>

    <ion-button expand="block" shape="round">Sign up</ion-button>

  </form>

</ion-content> 