<ion-header>
  <ion-toolbar>
    <ion-title class="font">Sign up</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <label class="help" routerLink="/contact">❔</label>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <h3 class="font">Create account:</h3>
  <form [formGroup]="signupForm" (ngSubmit)="signUp()" class="userInput">
    <app-input type="text" placeholder="Name" formControlName="name"></app-input>
    <app-input type="text" placeholder="Email" formControlName="email"></app-input>
    <app-input type="text" placeholder="Username" formControlName="username"></app-input>
    <app-input type="Password" placeholder="Password" formControlName="password"></app-input>
    <app-input type="Password" placeholder="Confirm Password"></app-input>

    <ion-button type="submit" expand="block" shape="round">Sign up</ion-button>

  </form>

</ion-content> 