//page css
ion-content{
   // background Color - blue purple gradient
  ---transform: : translate(-50%, 50%);
  --background:  hsla(205, 46%, 30%, 1);
  --background: linear-gradient(90deg, hsla(205, 46%, 30%, 1) 0%, hsla(260, 29%, 36%, 1) 100%);
  }
  
  ion-input{
    //ui for input boxes
    --background: rgb(227, 244, 242);
    margin-top: 15px;
    border-radius: 10px;
    height: 30px;
    box-shadow: 1px 5px 5px 0px rgba(0, 0, 0, 0.08);
    --highlight-height: 0px;
  }

  ion-button{
    margin-top: 20px;
  }
  
  .font {
    font-family: 'Oswald';
    text-align: center;
    color: white;
}

.inputFont {
    font-family: 'Oswald';
}

.userInput{
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    height: 30px;
}



  