<ion-header>
  <ion-toolbar>
    <ion-title class="font">Login</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <label class="help" routerLink="/contact">❔</label>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <img src="./assets/login.jpg" alt="user!" height="150px" class="img2">

  <form class="userInput">
    <app-input placeholder="Username"></app-input>
    <app-input type="Password" placeholder="Password"></app-input>

    <ion-button (click)="verifyJson" expand="block" shape="round">Login</ion-button>

    <p class="font">dont have an account? Sign up <label routerLink="/sign-up"><u>Here</u></label>.</p>
  </form>

</ion-content> 