<!-- header for each page -->
<ion-header>
  <ion-toolbar>
    <ion-title class="font">Macronutrients</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <label class="help" routerLink="/contact">❔</label>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <h3 class="font">Macronutrient calculator</h3>

  <!-- allows for user input and uses ngModel -->
  <div class="userInput">
    <p class="font">Get your calories from the Calorie Calculator!</p>	
    <p class="font">Subtract 500 to loose weight!</p>
    <p class="font">Add 500 to gain weight!</p>
    <ion-input placeholder="Calories depending on goals" type="number" [(ngModel)]="calorieGoals"></ion-input> 
    <ion-input placeholder="Weight in pounds" type="number" [(ngModel)]="weight"></ion-input> 
    <ion-button (click)="calculateMacro()" expand="block" shape="round">Calculate</ion-button>
    <p class="font">dont know your calories? Head over to our <label routerLink="/cal-calculate"><u>Calorie calculator</u></label> to find out!</p>
  </div>

    

</ion-content> 