<!-- header for each page -->
<ion-header>
  <ion-toolbar>
    <ion-title style="color: black;" class="font">Home page</ion-title>
    <ion-buttons slot="start">
      <!-- menu button at start slot -->
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <!-- help symbol at end slot -->
      <label class="help" routerLink="/contact">❔</label>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!-- basic home page with logo  -->
<ion-content [fullscreen]="true" class="bgColor">

  <h3 class="font">Welcome to MyFitnessApp!</h3>

  <p class="font">Here at MyFitnessApp you have to ability to make a change!</p> 
  <p class="font">Sign up and login options available in the menu!</p>
  <img src="./assets/Logo.jpg" alt="fruit!" height="150px" class="img1">
  <p class="font">Start by checking out our Calorie calculator where you can get your suggested calories depending on your goals!</p>

</ion-content>
